.about-block{
  background-image: url('./assets/picture/about-section-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.about{
  width: 100%;
}

.about-content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.about__item{
  padding-right: 0.5rem;
  text-align: center;
  &:last-child{
    padding-right: 0;
  }
}

.about__item_logo{
  position: relative;
  width: 75%;
}

.about__item_title{
  font-family: 'Bazar';
  font-size: 3rem;
  font-weight: 400;
  line-height: 22px;
  color: $black_color;
  padding: 3rem 0 3rem 0;
}

.about__item_subtitle{
  font-family: 'Roboto';
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 22px;
  color: $black_color;
  padding-bottom: 1rem;
}

.about__item_line{
  height: 3px;
  background-color: $black_color;
  border: 1px solid $black_color;
  width: 21%;
}

.about__item_text{
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  line-height: 35px;
  color: $black_color;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
