.blog-block{
  //background-image: url('./assets/picture/blog-section-bg.png');
  background-color: deepskyblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.blog{


}

.blog-content{

}

.left_column{
  flex: 30%;
}

.right_column{
  flex: 70%;
}

.blog-content__item{
  display: flex;
}

.blog__item-img{


}

.blog__item-content{


}

.blog__item-info{


}
