@font-face {
  font-family: Bazar;
  src: url(assets/fonts/Bazar.ttf);
}

@font-face {
  font-family: Seaside;
  src: url(assets/fonts/SeasideResortNF.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/RobotoSlab-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(assets/fonts/Oswald-Regular.ttf);
}