$white_color: #f9ebd9;
$black_color: #393a3a;
$title_color: #f6edd8;
$grey_color: #a9a9a9;





@import './common/styles/mixins';
@import './common/styles/fonts';
@import './common/styles/base';
@import './common/styles/header';
@import './common/styles/about';
@import './common/styles/portfolio';
@import './common/styles/blog';
@import './common/styles/contact';
@import './common/styles/footer';